extends layout

block title
  title My Presentation

block content
  section.slide
    h1 Slide

  section.slide
    h2 slide 2
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 3
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 4
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 5
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 6
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 7
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 8
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 9
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 10
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 11
    p some content
          ul
            li point 1
            li point 2
            li point 3

   section.slide
    h2 slide 12
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 13
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 14
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 15
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 16
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 17
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 18
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 19
    p some content
          ul
            li point 1
            li point 2
            li point 3

  section.slide
    h2 slide 20
    p some content
          ul
            li point 1
            li point 2
            li point 3

