extends layout

block title
  title My Presentation

block content
  section.slide
    h1 Slide

  section.slide
    h2 slide 2
    p some content
          ul
            li point 1
            li point 2
            li point 3

